html,
body,
header,
#intro {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

html,
body {
	scroll-behavior: smooth;
}

.container-fluid {
    width: 100%;
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}

#intro {
    background: url(../img/laurelbg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro_img {

	overflow:hidden; 
	height:200; 
	width:200; 
	border-radius:50%;
}

#portfolio {
	background-color: #f2f2f2;
}

#contact,
footer {

	background: #ff9802;
    overflow: auto;

}

footer {
	padding: 10% 0 1% 0;
    margin-top: 0;

}



#skills,
#portfolio,
#experience,
#contact {
	padding:7% 0 7% 0;
	
}

a:link {
  color: #010101;
}

a:hover {
  color: #1e90ff;
  cursor: pointer;
}

a:visited {
	color: #010101;
}


/*--MEDIA BREAKPOINT FOR IPHONE 5--*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{

#intro_txt {
	padding-top: 5%;
}

}


